<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EXILED" version="9.0.0-beta.5" targetFramework="net481" />
  <package id="Lib.Harmony" version="2.3.3" targetFramework="net481" />
  <package id="StyleCop.Analyzers" version="1.2.0-beta.556" targetFramework="net481" developmentDependency="true" />
  <package id="StyleCop.Analyzers.Unstable" version="1.2.0.556" targetFramework="net481" developmentDependency="true" />
  <package id="YamlDotNet" version="16.1.3" targetFramework="net481" />
</packages>